nav {
  background-color: royalblue;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: large;
}
.first-div {
  background-image: url(/images/heading.jpg);
  height: 50vh;
  background-size: cover;
  color: whitesmoke;
  font-size: 10vh;
}

footer {
  background-color: #0f0f0f;
  color: antiquewhite;
  text-align: center;
  height: 30vh;
  padding-top: 10px;
  font-size: medium;
}

.contact-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 40% 50%;
}

ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}
